on:
  pull_request_target:
    types:
      - opened
    branches:    
      - main

jobs:
  unittest:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
        token: ${{ secrets.PAT }}

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        ls -al
        cd webservice
        ls -al
        python3 -m pip install --upgrade pip
        pip3 install -r requirements.txt

    - name: Run unittest
      run: |
        ls -al
        cd webservice
        ls -al
        python3 test/test_main.py
