on:
  pull_request:
    branches: [ main ]

jobs:
  packer-check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
        token: ${{ secrets.PAT }}

    - name: Validate packer template
      uses: hashicorp/packer-github-actions@master
      with:
        command: validate
        arguments: "-syntax-only -var-file=var.json"
        target: ami.json
      env:  
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
        aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
        PACKER_LOG: 1
